/* @import "tailwindcss"; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.header{
    background-color: black;
    color: orange;
    border: 1px solid pink;
}

#root {
    width: 500px;
    margin: 5px auto;
    border: 1px solid red;
}

.main {
    border: 1px solid blue;
    height: 400px;
}

.sidebar {
    display: inline-block;
    width: 30%;
    height: 100%;
    border:1px solid gold;
    vertical-align: top;
    padding-left: 20px
}

.content {
    display : inline-block;
    width: 70%;
    height: 100%;
    border: 1px solid blueviolet;
    vertical-align: top;
}